body{
    padding: 0;
    margin: 0;
    width: 100%;
    background: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

header div ul {
    padding: 0;
    margin: 0;

}

header div li {
    list-style: none;
    float: left;
    margin: 0px 20px;
}

header div li a {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    transition: 250ms ease all;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header div li a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    text-shadow: 3px 2px 4px green;
}

.h-btn {
    display: none;
    transition: 250ms ease all;
    padding: 3px 10px !important;
    font-size: 2rem;
    background: #15ad15;
    color: white;
    border: none;
    border-radius: 5px !important;


}

#hide {
    display: none;
}

@media only screen and (max-width:700px) {
    .h-btn{
        display: block;
        z-index:200;

    }

    header div ul {
     width: 200vw;
     height: 100vh;
        position: absolute;
        background-color: white;
        left: 2%;
        top: 10%;
        width: 90%;

    }

    header div ul li {
        float: none;
        border-bottom: 1px solid black;
        width: 100%;
        line-height: 2;
        text-align: center;
        transform: 250ms ease all;
        transform: translateY(-15px);

    }

    .menu {
        display: none;
    }
   


}


.eat{
    color: #0C7B3F;
font-family: Inter;
font-size: 9rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.healthy{
    color: #000;
font-family: Inter;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
button{
    border-radius: 30px 0px;
background: #6BB923;
padding: 15px 35px;
outline: none;
border: none;
font-weight: bold;
color: white;
z-index: 1000;
transition: 350ms all ease ;
}
button:hover{
    transform:scale(1.1);
    cursor: pointer;
    box-shadow: 3px 5px 4px 2px #274808;;
}
.pg1-txt{
    width: 500px;
}
.pg1-img{
    width: 450px;
    position: relative;
}
.pg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blob{
    width: 600px;
    position: absolute;
    left: -58px;
    top: 21px;
    z-index: -1;
}

.pg2-img{
    width: 645px;
}
.pg2-text{
    padding: 30px;
}
.pg2-text h1{
    font-size: 3.5rem;
}
.pg2-text p{
    font-size: 1.1rem;
    color: rgb(79, 79, 79);
    line-height: 1.5;
}


/* page 3 */
.page3{
    position: relative;
}
.pg3{
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 150px;
}

.icon-box{
    width: 289px;
    height: 279px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.25);
    margin: 35px;
    position: relative;
}
.icon-box-inner{
    width: 180px;
height: 174px;
flex-shrink: 0;
border-radius: 40px;
background: #FB9D11;
box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.25);
position: absolute;
    top: -72px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon-box-txt{
    text-align: center;
    margin: 65px 7px;
    padding: 35px;
}

/* page 4  */
.pg4{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    height: 100vh;
    width: 100%;
    background-color: rgb(255, 196, 0);
}

.pg4-txt{
    margin-left: 100px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 450px;
    background-color: #000;
    height: 100vh;
}
.pg4-txt h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.pg4-txt p{
    color: rgb(255, 196, 0);
    font-size: 2rem;
}
.pg4-img{
    position: relative;
    width: 658px;
    height: 400px;
    top: -97px;
    
}
.wave{
    width: 100%;
    height: 1px;
    position: absolute;
    top: -827px;
}
.wave2{
    width: 100%;
    height: 1px;
    position: absolute;
    top: 233%;
    transform: rotate(180deg);
    z-index: 10;
}

/* page 5 */

.page5{
    position: relative;
    width: 100vw;
    height: 800px;
    

    /* z-index: 100; */
    /* background-image: url("img/foodbg.jpg");
    background-position: center;
    background-size: cover; */
    /* filter: blur(6px); */
    /* background-attachment: fixed; */
  
}

.overlay{
    position: absolute;
    width: 100vw;
    height: 800px;
    background-image: url("img/foodbg.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    /* background-attachment: fixed; */
    z-index: -1;
}

.menu-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.pg5-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */

    padding: 25px;
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 25px;
    border-radius: 0 35px 0 35px;
    box-shadow: 0 0 40px black;
    z-index: 100;
}
.pg5-menu div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 50%;
    width: 150px;
    width: 138px;
    margin: auto;

}
.pg5-menu img {
    border-radius: 50%;
}
.pg5-menu h1{
    font-size: 2rem;
    line-height: 0;
}

.pg5-txt h1{
    color: white;
    font-size: 3.5rem;
    line-height: 0;
    text-shadow: 5px 3px 2px black;;
}
.pg5-txt p{
    color: white;
    font-size: 1.5rem;
}

/* page 6 */

.page6{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    column-gap: 50px;
    margin: 100px 0px;

}
.pg6-img{
    width: 600px;
    border-radius: 35px;
}
.pg6-img img{
    border-radius: 45px;
}
.pg6-txt{
    width: 500px;
}
.pg6-txt h1{
    font-size: 4rem;
    line-height: 1;
}

.pg6-txt p{
    font-size: 1.1rem;
}






/* ***** footer **** */

.footer-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
.footer-img{
    width: 300px;
}
.email-list{
    border: 1px solid rgb(121, 121, 121);
    overflow: hidden;
    padding: 10px  25px;
    
}
.email{
    border: none;
    outline: none;
    margin-top: 11px;
    font-size: 18px;
}
.em-btn{
    float: right;
}
.footer-icon-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #0C7B3F;
    padding: 35px;
}
.footer-icon-box i{
    font-size: 4rem;
    color: #FB9D11;
}
.footer-icon-box strong{
    font-size: 1.6rem;
}

.footer-main-links{
    background-color: #1E1D23;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 35px;
    color:white ;
}

.footer-main-links ul{
    padding: 0;
    margin: 0;
}
.footer-main-links li{
    list-style: none;
    line-height: 2;
}

.footer-main-links strong{
    font-size: 1.3rem;
    margin-bottom: 20px;
    line-height: 3;
}

.hr{
    position: relative;
    z-index: -1;
    top: -90px;
    color:white;
    outline: white;
    border: 2px solid white;
}




/* menu page  */

.food-img  {
    width: 80%;
    margin: -47px auto;
}

.food-txt h1{
    font-size: 4rem;
    text-align: center;
}

.food-txt h1 span{
    color: #0C7B3F;
}

.food-menu-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 100px;
   
}
.food-menu-box{
    width: 300px;
    margin-bottom: 100px;
}
.inner-menu-box{
    width: 250px;
    height: 250px;
    margin: 25px;
    border-radius: 30px;
    box-shadow:0px 5px 16px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}


.inner-menu-box img{
    width: 200px;
    margin-top: -93px;
    margin-left: 0px;
}

.inner-menu-box h1{
    font-size: 2.8rem;
    line-height: 0;
}
.inner-menu-box span{
    font-size: 1.5rem;
    color: #FB9D11;
    font-weight: bold;
    /* text-shadow: 0 0 10px black; */
}

.menu-btn{
    width: 45px;
    height: 44px;
    padding: 2px !important;
    border-radius: 50% !important;
    font-size: 2rem;
    background-color: crimson;
    margin-top: 26px;
}
.menu-btn:hover{
    box-shadow: 0 0 0 black;
}



/* about page  */

.about-home{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100.7%, 0% 74.98%);
    /* background-color: #000000; */
width: 100%;
height: 100vh;
background-image: url("img/about.jpg");
background-position:bottom;
background-size: cover;
background-clip: content-box;
display: flex;
align-items: baseline;
justify-content: center;
color:whitesmoke;
}

.about-home h1{
    font-size: 6rem;
    line-height: 0;
}

.about-home h2{
    font-size: 3rem;
    line-height: 0px;
}


.about-img-box{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 8px rgb(169, 169, 169);
    border-radius: 35px;
    margin: 35px;
    background-image: url("img/BG.png");
    background-size: cover;
    background-position: center;
}
.about-img-box img{
    transform: 300ms ease all;
}€
.about-img-box img:hover{
    /* width: 110%; */
    transform: scale(1.2);
}



.about-content{
    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: center;
}
.about-content h1{
    font-size: 4.5rem;
    line-height: 0px;

}
.about-content p {
    font-size: 1.3rem;
}

/* contact page  */

.contact-home{
    width: 100%;
    height:82vh;
    background-color: #FB9D11;
    clip-path:polygon(0% 0%, 100% 0%, 100% 46.7%, -189% 100.98%);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
.contact-home h1{
    font-size: 5rem;
    line-height: 0px;
    padding: 50px;   
}

.contact-form .left{
    
    width: 282px;
    height: 371px;
    margin: 0px -165px;

    z-index: 10;
    border-radius: 30px;
    background-color: #0C7B3F;
    color: whitesmoke;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    text-align: left;    
}

.contact-form .right{
    box-shadow: 0 0 8px  rgba(153, 153, 153, 0.632);
    border-radius: 30px;
    width: 500px;
    /* padding: 25px; */
    padding-left: 220px;
    padding-bottom: 25px;


}
.contact-form .right input,textarea{
    width: 90%;
    border: 1px solid #0C7B3F;
    padding: 15px;
    border-radius: 30px;
    margin: 15px 0px;
    z-index: 200;
}
.contact-form{display: flex;
    align-items: center;
    justify-content: center;
}
